<tr>
  <td><%= link_to skill.name, admin_skill_path(skill) %></td>
  <td><%= skill.description %></td>
  <td><%= link_to t("user.show"), admin_skill_path(skill) %></td>
  <td><%= link_to t("user.edit"), edit_admin_skill_path(skill) %></td>
  <td><%= link_to t("user.delete"), admin_skill_path(skill), method: :delete,
    data: {confirm: t("user.confirm")} %></td>
</tr>
