<p id="notice"><%= notice %></p>
<h1><%= t "skill.listing_skill" %></h1>
<div class = "show-box">
  <table>
    <thead class="t-header">
      <tr>
        <th><%= t "skill.name" %></th>
        <th><%= t "skill.description" %></th>
        <th colspan="3" class="th-colspan"></th>
      </tr>
    </thead>

    <tbody class="t-body">
      <%= render partial: "skill", collection: @skills %>
      <%= will_paginate %>
    </tbody>
  </table>
  <%= link_to t("skill.new_skill"), new_admin_skill_path %>
</div>

<%= render "shared/import", _model: Position %>
