<%= form_for [:admin, @position] do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :abbreviation %><br>
    <%= f.text_area :abbreviation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
