<tr>
  <td><%= link_to position.name, admin_position_path(position) %></td>
  <td><%= position.abbreviation %></td>
  <td><%= link_to t("user.show"), admin_position_path(position) %></td>
  <td><%= link_to t("user.edit"), edit_admin_position_path(position) %></td>
  <td><%= link_to t("user.delete"), admin_position_path(position),
    method: :delete, data: {confirm: t("user.confirm")} %></td>
</tr>
