<div>
  <%= t "user.email" %>
  <%= @user.email %>
  <br>
  <%= t "user.skill" %>
  <% @user.skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
</div>
<%= link_to t("team.all_team"), teams_path %><br/>
<%= link_to t("skill.add"), user_skills_path(@user), class:"btn btn-success btn-sm" %>
