<%= form_for [:admin, @project] do |f| %>
  <div class="field">
    <%= f.label :Team_Id %><br>
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
