<p id="notice"><%= notice %></p>
<h1><%= t "project.listing_project" %></h1>
<div class = "show-box">
  <div id="projects-list">
    <table>
      <thead class="t-header">
        <tr>
          <th><%= t "project.team_id" %></th>
          <th><%= t "project.name" %></th>
          <th><%= t "project.description" %></th>
          <th colspan="3" class="th-colspan"></th>
        </tr>
      </thead>
      <tbody class="t-body">
        <%= render partial: "project", collection: @projects %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
  <%= link_to t("project.new_project"), new_admin_project_path %>
</div>

<%= render "shared/import", _model: Project %>
