<p>
  <%= t "user.download_skill" %>
  <%= link_to t("user.csv"), admin_skills_path(format: "csv") %>
</p>
<p>
  <%= t "user.download_team" %>
  <%= link_to t("user.csv"), admin_teams_path(format: "csv") %>
</p>
<p>
  <%= t "user.download_project" %>
  <%= link_to t("user.csv"), admin_projects_path(format: "csv") %>
</p>
<p>
  <%= t "user.download_position" %>
  <%= link_to t("user.csv"), admin_positions_path(format: "csv") %>
</p>
