<h1><%= t "user.all_user" %></h1>

<div class = "export-csv">
  <%= render "export_csv" %>
</div>

<div class = "search-box">
  <%= render "search" %>
</div>

<div id = "search-result">
  <%= render "result" %>
</div>

<div id = "activity-log">
  <h3><%= t "activity.list" %></h3>
  <%= render "activity" %>
</div>
