<tr>
  <td><%= link_to team.name, admin_team_path(team) %></td>
  <td><%= team.description %></td>
  <td><%= team.leader %></td>
  <td><%= link_to t("user.show"), admin_team_path(team) %></td>
  <td><%= link_to t("user.edit"), edit_admin_team_path(team) %></td>
  <td><%= link_to t("user.delete"), admin_team_path(team), method: :delete,
    data: {confirm: t("user.confirm")} %></td>
</tr>
