<h1><%= t "team.listing_team" %></h1>
<div id="teams-list">
  <table>
    <thead class="t-header">
      <tr>
        <th class="th1"><%= t "team.name" %></th>
        <th class="th2"><%= t "team.description" %></th>
        <th class="th3"><%= t "team.leader" %></th>
        <th colspan="3" class="th-colspan"></th>
      </tr>
    </thead>
    <tbody class="t-body">
      <%= render partial: "team", collection: @teams %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
<h2><%= t "import.team" %></h2>
<%= form_tag admin_team_imports_path, method: :post, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<%= link_to t("team.new_team"), new_admin_team_path %>
