<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "MMS_8", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li style="color:red"><%= t("layouts.signed_in ") %><strong><%= current_user.email %></strong></li>
          <li><%= link_to_if current_user.is_admin?, t("layouts.all_user"), admin_users_path %></li>
          <li><%= link_to_if current_user.is_admin?, t("team.all_team"), admin_teams_path %></li>
          <li><%= link_to_if current_user.is_admin?, t("skill.all_skill"), admin_skills_path %></li>
          <li><%= link_to_if current_user.is_admin?, t("project.all_project"), admin_projects_path %></li>
          <li><%= link_to_if current_user.is_admin?, t("position.all_position"), admin_positions_path %></li>
          <li><%= link_to t("layouts.edit_profile"), edit_user_registration_path %></li> |
          <li><%= link_to t("layouts.logout"), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t("layouts.signup"), new_user_registration_path %></li> |
          <li><%= link_to t("layouts.login"), new_user_session_path %></li>
        <% end %>
          <li><%= link_to t("layouts.home"), root_path %></li>
          <li><%= link_to t("layouts.help"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
